* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--text-color: white;
	--bg-url: url('./assets/bg-mobile.jpg') no-repeat top center/cover;
	--stroke-color: rgba(255, 255, 255, 0.5);
	--surface-color: rgba(255, 255, 255, 0.1);
	--surface-color-hover: rgba(255, 255, 255, 0.05);
	--highlight-color-hover: rgba(255, 255, 255, 0.05);
	--switch-bg: rgba(255, 255, 255, 1) url('./assets/moon-stars.svg') no-repeat center;
}

.light {
	--text-color: black;
	--bg-url: url('./assets/bg-light-mobile.jpg') no-repeat top center/cover;
	--stroke-color: rgba(0, 0, 0, 0.5);
	--surface-color: rgba(0, 0, 0, 0.05);
	--surface-color-hover: rgba(0, 0, 0, 0.02);
	--highlight-color-hover: rgba(0, 0, 0, 0.1);
	--switch-bg: rgba(255, 255, 255, 1) url('./assets/sun.svg')no-repeat center;
}

body {
	background: var(--bg-url);
}

body * {
	font-family: 'Inter', sans-serif;
	color: var(--text-color);
}

#container {
	height: 44.5rem;
	width: 22.5rem;
	margin: 3.5rem auto 0;
}

/*profile*/
#profile {
	text-align: center;
	padding: 1.5rem;
}

#profile img {
	width: 7rem;
}

#profile a {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	text-decoration: none;
	padding-top: 0.5rem;
}

/*switch*/
#switch {
	position: relative;
	width: 4rem;
	margin: 0.5rem auto;
}

#switch button {
	width: 2rem;
	height: 2rem;
	background: var(--switch-bg);
	border: 0;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 1;
}

.light #switch button {
	right: 0;
	left: initial;
}

#switch span {
	display: block;
	width: 4rem;
	height: 1.5rem;
	background: var(--surface-color);
	border: 1px solid var(--stroke-color);
	border-radius: 9999px;
	backdrop-filter: blur(0.5rem);
	-webkit-backdrop-filter: blur(4px);
}

/*links*/
ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 1.5rem;
	gap:1rem;
}

ul li {
	text-align: center;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	background: var(--surface-color);
	border: 1px solid var(--stroke-color);
	transition: background 0.3s;
}

ul li:hover {
	cursor: pointer;
	background: var(--surface-color-hover);
	border: 1.5px solid var(--text-color);
}

ul li a {
	text-decoration: none;
	font-size: 1rem;
	backdrop-filter: blur(0.5rem);
	-webkit-backdrop-filter: blur(4px);
}

/*social links*/
#social-link {
	display: flex;
	justify-content: center;
	padding: 1.5rem;
	font-size: 1.5rem;
}

#social-link a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	transition: background 0.3s;
}

#social-link a:hover {
	background: var(--highlight-color-hover);
	border-radius: 50%;
}
/*footer*/
footer.made-by {
	text-align: center;
	padding: 1.5rem;
	font-size: 0.875;
	color: var(--text-color);
}