* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: url('./assets/bg-mobile.jpg') no-repeat top center/cover;
}
body * {
	font-family: 'Inter', sans-serif;
	color: #ffffff;
}
#container {
	height: 44.5rem;
	width: 22.5rem;
	border: 1px red solid;
	margin: 3.5rem auto 0;
}
#profile {
	text-align: center;
	padding: 1.5rem;
}
#profile img {
	width: 7rem;
}

#profile a {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	text-decoration: none;
	padding-top: 0.5rem;
}

/*links*/

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 1.5rem;
	gap:1rem;
}
ul li {
	text-align: center;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	transition: background 0.3s;
}

ul li:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.05);
	border: 1.5px solid white;
}

ul li a {
	text-decoration: none;
	font-size: 1rem;
	backdrop-filter: blur(0.5rem);
	-webkit-backdrop-filter: blur(4px);
}

#social-link {
	display: flex;
	justify-content: center;
	padding: 1.5rem;
	font-size: 1.5rem;
}

#social-link a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
#social-link a:hover {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 50%;
}

footer.made-by {
	text-align: center;
	padding: 1.5rem;
	font-size: 0.875;
	color: white;
}